body {
    background-image: url("https://img.freepik.com/free-vector/bar-interior-realistic-composition_1284-24320.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    
}
#sign {
    border: 20px white dotted;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 50px;
    width: 500px;
    text-align: center;
    font-family: 'Asset', cursive;
    font-size: 30px;
    margin: auto;
    margin-top: 35px;
}

 #buttons2, #buttons1 {
    width: 200px;
    height: 200px;
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
   
}

.text2 {
    margin-top: 20px;
    font-weight: bolder;
    color: red;
}
.text1 {
    margin-top: -40px;
    font-weight: bolder;
    color : red;
}
@media screen and (min-width: 360px) and (max-width: 500px){
body {
    background-image: none;
    background-color: teal;
} 
#sign {
    margin-top: 0;
}
#buttons1 {
    
    margin-left: 152px;
    margin-top: 80px;
    
}
#buttons2{

    margin-top: 50px;
    margin-right: 20px;
    
}
      
}
@media screen and (min-width: 501px) and (max-width: 768px){
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaTy5laQPZan40bzFH68Fs-I5Db9EvwCYasraSzM109Vi1Mp8U");
    background-repeat: repeat-y;
}
#buttons2{

    width: 200px;
    height: 200px;
    margin-top: 100px;
    
}

#buttons1 {
    width: 200px;
    height: 200px;
    margin-top: 100px;
   
}
  
}  