body{
    margin: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
}

.cities {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    color: white;
    background: brown;
}

.banner {
    background-color: brown;
}